@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{background-color: aliceblue;}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.area{
    background-color: #fff;
    box-shadow: 5px 5px 15px #0000006e;
    padding: 20px;
    border-radius: 10px;
    width: 20rem;
}

header{
    margin-bottom: 20px;
    font-size: 12px;
}

.gerador #generator{
    margin-bottom: 20px;
    width: 100%;
    height: 2.2rem;
    padding: 0px 10px 0px 10px;
    font-size: 18px;
} 

.gerador #range{
    width: 90%;
    margin-bottom: 20px;
}

.radio{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0px;
}

.radio label{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 8px;
}

.radio input[type="checkbox"]{
    transform: scale(1.2);
    cursor: pointer;
}

.but{
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 2.2rem;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

.but:hover{background-color: rgb(85, 17, 148);}